/* Navbar */
.navbar-brand {
	padding-top: 0px;
}

.navbar {
	background-color:#ECF0F1;
	border-bottom: 5px solid #00B5B5;
	/*box-shadow: -1px 2px 5px 1px rgba(0, 181, 181, 0.7);*/  
}

.navbar-default .navbar-nav > li > a {
	color:#00B5B5;
}

.text-navbar:hover {
	background-color:#00B5B5!important;
}

.text-navbar a:hover {
	color:white!important;
	background-color:#00B5B5!important;
}

/*footer */
.footer {
	background-color:#ECF0F1;
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;

}
