{% extends 'base.html.twig' %}
{% block navbar %}{% include ('navbar/navbar.html.twig') %}{% endblock %}

{% block body %}
<div class="newpost-container">

  <form method="post" action="{{ path ('post_new') }}">

    <div class="row">
      <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 text-center"> 
        <textarea class="post-textarea form-control text-center" name="contenu" placeholder="Un message à partager aux autres internautes?"></textarea>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 text-center">
      <input type="submit">
      
    </div>
  </div>
  </form>
  </div>

          
    <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 posts">

      {% for pst in tab|reverse %}
      <div class="post-box">
        <p class="text-center"><b>Publié par {{ pst['auteur']|upper }}</b></p>
        <p class="text-center">{{ pst['contenu'] }}</p>
      </div>
      {% endfor %}

    </div>

{% endblock %}